


.schedule__time {
  /* background-color: orange; */
  padding-bottom: 20px;
  text-align: center;
}

.schedule__back {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.schedule__form_main {
  background-color: lightyellow;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 50px;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
}

.schedule__form {

}

.schedule__title {
  /* background-color: orange; */

}
.schedule__plan {
  /* background-color: orange; */
  height: 30vh;
}

.schedule__submit {
  /* background-color: orange; */
  margin-top: 10px;

}

